@font-face {
    font-family:'khoabda';
    src:url('https://github.com/matuhn/matuhn.github.io/blob/master/khoabda_font.php?raw=true');
    font-weight:'normal';
    font-style:'normal';
}
b {
  color: purple;
  font-size: 144px;
  font-family: gotcha;
}

